@use "../abstracts/variables" as *;

.primary-btn {
    background-color: $primary-red;
    height: 3rem;
    border: none;
    border-radius: 6px;
    color: $white;
    transition: 0.3s ease-in-out;

    &:hover {
        background-color: $white;
        color: $deep-navy;
    }
}
