@use "../../assets/styles/components/forms" as *;
@use "../../assets/styles/components/buttons" as *;

.register {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    min-height: 100vh;

    img {
        margin: 5rem 0;
    }
}
