@use "../../assets/styles/abstracts/variables" as *;
@use "../../assets/styles/components/forms" as *;
@use "../../assets/styles/components/buttons" as *;

.register {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    min-height: 100vh;

    img {
        margin: 5rem 0;
    }

    .register-form {
        &__message {
            margin-top: 1.5rem;
            text-align: center;
            color: $white;
            a {
                color: $primary-red;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
