.container {
    display: grid;
    grid-template-columns: 96px auto;
    grid-template-rows: max-content auto;
    min-height: 100vh;
    border: 2px solid red;
    grid-template-areas:
        "navbar searchbar"
        "navbar dashboard";

    .dashboard {
        grid-area: dashboard;
        border: 2px solid red;
    }
}
