.container {
    display: grid;
    grid-template-columns: 126px auto;
    grid-template-rows: 2rem auto;
    min-height: 100vh;
    grid-template-areas:
        "navbar searchbar"
        "navbar dashboard";
    width: 100%;
    padding: 2rem 0;

    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        padding-top: 0;
    }

    .dashboard {
        grid-area: dashboard;
        margin-inline: 2.25rem;
        overflow-x: hidden;

        @media screen and (max-width: 580px) {
            margin-inline: 1rem;
        }
    }
}
