.movies-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2rem;
    column-gap: 2.5rem;

    @media screen and (max-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1.8125rem;
        row-gap: 1.5rem;
    }

    @media screen and (max-width: 580px) {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 0.9375rem;
        row-gap: 1rem;
    }
}
