@use "../../assets/styles/abstracts/variables" as *;
@use "../../assets/styles/base/resets" as *;

.navbar {
    display: flex;
    position: fixed;
    height: 90%;
    flex-direction: column;
    align-items: center;
    grid-area: navbar;
    margin: 1rem;
    padding: 2rem;
    background-color: $navy;
    border-radius: 20px;

    @media screen and (max-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        height: 72px;
        // width: 100%;
    }

    @media screen and (max-width: 580px) {
        margin: 0;
        padding: 1rem;
        border-radius: 0;
    }

    &__nav-links {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 100px;
        &:hover {
            svg {
                path {
                    transition: 0.3s ease-in-out;
                    &:hover {
                        fill: $primary-red;
                    }
                }
            }
        }

        @media screen and (max-width: 768px) {
            flex-direction: row;
            align-items: center;
            margin-top: 0;
        }
    }

    &__nav-link {
        .active > svg > path {
            fill: #fff;
        }
    }

    &__user-avatar {
        margin-top: auto;
        border: 1px solid white;
        border-radius: 50%;
        width: 2.5rem;

        @media screen and (max-width: 768px) {
            margin-top: 0;
        }
    }
}
