@use "../../assets/styles/abstracts/variables" as *;
@use "../../assets/styles/layout/grid" as *;

.movies {
    display: flex;
    flex-direction: column;

    &__heading {
        color: $white;
        margin-bottom: 1.5625rem;
    }
}
