@use "../../assets/styles/abstracts/variables" as *;
@use "../../assets/styles/abstracts/mixins" as *;

.trending-movie {
    display: flex;
    align-items: flex-end;
    position: relative;
    height: 230px;
    min-width: 470px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    padding-inline: 1.5rem;
    padding-bottom: 1.5rem;

    &__bookmark {
        @include flex-center;
        background-color: $deep-navy;
        position: absolute;
        right: 1.5rem;
        top: 1rem;
        opacity: 0.5;
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
        cursor: pointer;
    }

    &__overview {
        display: flex;
        flex-direction: column;

        h3 {
            color: $white;
        }
    }
}
